<launch>
  <!-- apriltag -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous_node" clear_params="true" output="screen" launch-prefix="">
    <remap from="image_rect" to="camera/image" />
    <remap from="camera_info" to="camera/camera_info" />
    <param name="publish_tag_detections_image" type="bool" value="true" />
    <param name="queue_size" type="int" value="1" />

    <!-- load parameters (incl. tag family, tags, etc.) -->
    <rosparam command="load" file="$(find turtlebot_sar)/config/settings.yaml"/>
    <rosparam command="load" file="$(find turtlebot_sar)/config/tags.yaml"/>
  </node>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_rpicamera.launch"/>


  <!-- turtlebot bringup -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>

  <!-- camera static transform -->
  <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0 0 0.123 3.1415 -1.57 3.1415 base_link camera 100" />


</launch>